@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@keyframes fade-1 {
  0%{opacity: 1;}
  12.5%{opacity: 1;}
  25%{opacity: 1;}
  37.5%{opacity: 0;}
  50%{opacity: 0;}
  62.5%{opacity: 0;}
  75%{opacity: 0;}
  87.5%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fade-2 {
  0%{opacity: 0;}
  12.5%{opacity: 0;}
  25%{opacity: 0;}
  37.5%{opacity: 0;}
  50%{opacity: 1;}
  62.5%{opacity: 1;}
  75%{opacity: 1;}
  87.5%{opacity: 0;}
  100%{opacity: 0;}
}

* {
    box-sizing: border-box;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
.container {
    max-width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.logo {
    box-shadow: auto rgba(239,51,64,0.8), auto rgba(239,51,64,0.5) 
}

/* Bagian Header oleh (Ajkaa) */
header {
    background-color: rgba(239,51,64,1);
    height: 70px;
    width: 100%;
    color: #fff;
}
.header-logo {
    float: left;
    font-size: 30px;
    color: #fff;
}

.header-list li {
    float: right;
    padding: 25px 30px;
    color:#fff;
}

.header-image {
    width: 50px;
    height: 30px;
    background-color: blue;
    padding: 30px 40px;
}

/* bagian Pesan-pesan oleh Deva */
.message-wrapper{
  height: 270px;
}

.judul-atas {
    display:inline-block;
    height: 70px;
    background-color: #EF3340;
    color:#fff;
    width: 100%;
    text-align: center;
    line-height: 70px;
}

.mother-pesan{
  text-align: center;
  height: 160px;
  margin: 0 auto;
  position: relative;
}

.pesan-pesan {
    display: flex;
    text-align: center;
    align-content: center;
    padding-left: 15px;
    width: fit-content;
    margin:0;
    height: 160px;
    position: absolute;
}
.pesan {
    flex: auto;
    float: left;
    font-size: 20px;
    margin: 50px;
    align-items: center;
}

.pesan-isi{
  margin-bottom: 10px;
}

/* Animasi oleh Alam */
.slot1{
  animation: fade-1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.slot2{
  animation: fade-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* untuk kirim pesan */
.kotak-pesan {
    display:block;
    margin: 30px auto;
    padding: 10px;
    width: auto;
    text-align:center;
}
.copy-container {
    margin: auto 50px;
    width: 1200px;
}
input,textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
    box-align: center;
}
.tmbl-kirim {
    cursor: pointer;
    }
/* Bagian foto presiden oleh fathur*/

.main {
    background-color: #bdf7f1;
    height: 600px;
  }
  
  .footer {
    background-color: #ceccf3;
    height: 270px;
  }
  
  .logo {
    width: 124px;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #EF3340;
    padding: 20px;
    margin-bottom: 5px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: -10px;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .main img {
    width: 100px;
    height: 100px;
  }
  /* bagian Footer oleh Natasya */
footer {
    background-color: #EF3340;
    color: #ffffff;
    height: 120px;
    width: 100%;
  }
  
  .footer-logo {
    float: left;
    }
  
  .footer-list {
    float: right;
    margin: 12px auto;
  }
  
  .footer-list li {
    padding-bottom: 20px;
    list-style: none;
  }
